<%= form_with(model: blog, local: true) do |form| %>
  <% if blog.errors.any? %>
    <% blog.errors.full_messages.each do |error| %>
      <%= alert_generator error %>
    <% end %>
  <% end %>

  <div class="form-groups">
    <%= form.text_field :title, id: :blog_title, class: 'form-control', placeholder: 'Title' %>
    <br>
  </div>

  <div class="form-groups">
    <%= form.text_area :body, id: :blog_body, class: 'form-control', rows: 15, placeholder: 'Body' %>
  </div>

  <div class="actions">
    <%= form.submit "Submit", class: 'btn btn-primary' %>
  </div>
<% end %>