<div class="container portfolio-container">
  <div class="row">
    <div class="col-md-7">
      <%= image_tag portfolio_img(@portfolio_item.main_image, 'main'), width: '100%' %>
    </div>

    <div class="col-md-5">
      <h1><%= @portfolio_item.title %></h1>

      <hr>

      <em><%= @portfolio_item.subtitle %></em>

      <hr>

      <div class='portfolio-links'>
        <ul>
          <% if @portfolio_item.github_url != nil %>
            <li><a target="_blank" href= "<%=@portfolio_item.github_url%>" id="github"><%= fa_icon "github" %></a></li>
          <% end %>
          <% if @portfolio_item.page_url != nil %>
            <li><%= link_to "View App", @portfolio_item.page_url%></li>
          <% end %>
        </ul>
      </div>

      <p><%= @portfolio_item.body %></p>

      <h3>Technologies Used:</h3>

      <% @portfolio_item.technologies.each do |t| %>
        <p><%= t.name %></p>
      <% end %>

      <div>
        <% if logged_in?(:site_admin) %>
          <%= link_to "Edit", edit_portfolio_path(@portfolio_item), class: 'btn btn-warning' %>
        <% end %>
      </div>
    </div>
  </div>
</div>










